<?xml version="1.0"?>
<launch>
  <node name="dynamixel_interface_node" 
        pkg="dynamixel_interface" 
        type="dynamixel_interface_controller_node" 
        output="screen">
    <rosparam command="load" file="$(find gimbal_controller)/config/controller_config.yaml" />
  </node>

  <node name="controller"
        pkg="gimbal_controller"
        type="gimbal_controller_node.py"
        output="screen"
        respawn="true">
  </node>
</launch>